<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Name</th>
      <th scope="col">Email</th>
      <th scope="col">Student Course</th>
      <th scope="col">Fees</th>
      <th scope="col">Action</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let stu of student; let i = index">
      <th scope="row">{{i + 1}}</th>
      <td>{{ stu.name}}</td>
      <td>{{ stu.email}}</td>
      <td>{{ stu.student_course}}</td>
      <td>{{ stu.fees}}</td>
      <td>
        <span (click)="removeStudent(stu)" class="btn btn-danger">Delete</span> &nbsp;
        <span (click)="onSubmit(stu)" class="btn btn-primary">Edit</span>
      </td>
    </tr>
  </tbody>
</table>
